doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", type="text/css", href="style/style.css")
        script(src="script/index.js", defer)
        title My Portfolio
    body
        .container
            .header
            .smiley-container-fixed
                .smiley-container
                    svg.smiley-line_svg.one(height="224", width="76")
                        path.smiley-line_path(d ="M14 1C4.76837e-06 35.1667 -7.8 160.2 71 215")
                    svg.smiley-line_svg.two(height="359", width="86")
                        path.smiley-line_path(d="M68.4037 358C83.0592 334.308 101.4 280.138 57.5209 253C2.67166 219.077 -9.51708 102.231 9.20133 1")
                    svg.smiley-line_svg.three(height="205", width="157")
                        path.smiley-line_path(d="M26.8431 195.24C34.3431 178.406 42.4431 134.74 14.8431 94.7395C-19.6569 44.7395 51.3431 -57.7605 148.843 68.7395")
                    svg.smiley-line_svg.four(height="209", width="83")
                        path.smiley-line_path(d="M9 12C34.7958 44.184 81.9209 125.842 64.0542 195")
                    svg.smiley-line_svg.five(height="306", width="99")
                        path.smiley-line_path(d="M86.5 13.5C51.6667 69.1667 -9.29999 200.6 25.5 281")
                    .smileyface.one
                        p.eyes.lefteye
                        p.eyes.righteye
                        .smile
                            .corner
                            .corner.right
                    .smileyface.two
                        p.eyes.lefteye
                        p.eyes.righteye
                        .smile
                            .corner
                            .corner.right
                    .smileyface.three
                        p.eyes.lefteye
                        p.eyes.righteye
                        .smile
                            .corner
                            .corner.right
                    .smileyface.four
                        p.eyes.lefteye
                        p.eyes.righteye
                        .smile
                            .corner
                            .corner.right
                    .smileyface.five
                        p.eyes.lefteye
                        p.eyes.righteye
                        .smile
                            .corner
                            .corner.right
                    .smileyface.six
                        p.eyes.lefteye
                        p.eyes.righteye
                        .smile
                            .corner
                            .corner.right
                    .smileyface.seven
                        p.eyes.lefteye
                        p.eyes.righteye
                        .smile
                            .corner
                            .corner.right
                    .smileyface.eight
                        p.eyes.lefteye
                        p.eyes.righteye
                        .smile
                            .corner
                            .corner.right
            .container-main
                .fixed-border-container
                    .fixed-border
                .container-profile
                    .under-image_text 
                        p.lines ║
                        p.lines ║
                    .name-banner
                        .name-banner_front-end
                            .front-end_title FRONT END
                            .front-end_stroke FRONT END
                            h2.neon-text Developer
                        .name-banner_title.name-banner_fill-title(aria-hidden="true") Dallan Linnell
                        .name-banner_fixed-container
                            .name-banner_fixed
                                .name-banner_fixed-left
                                    .name-banner_image
                                        img(src="./img/forest.avif")
                                    .name-banner_picture-container
                                        .name-banner_picture
                                    .name-banner_speech.one
                                        .bubble
                                        p (:
                                .name-banner_fixed-right
                        h1.name-banner_title.name-banner_stroked-title Dallan Linnell
                    .profile-content_container
                        .profile-content
                            .profile-content_box
                                p Hi, my name is Dallan. I'm a front end developer and these are some of the projects I've made. Check them out.
                            .profile-content_arrow
                                .profile-content_arrow_background
                                span ⇮
                                span ⇮
                            .profile-content_thumbs-up
                                i.fa.fa-thumbs-up
                                .smiley-nine
                                    .smileyface.nine
                                        p.eyes.lefteye
                                        p.eyes.righteye
                                        .smile
                                            .corner
                                            .corner.right
                                i.fa.fa-thumbs-up
                            .name-banner_speech.two
                                .bubble
                                p ! ! !
                    .arrows 
                        p.arrow ⟱
                        p.arrow ⟱
                .container-projects
                    .project
                        #bitburner_tab.tab-background
                            .project-tab View Scripts
                        a#bitburner.project-link(href="https://github.com/deelinnell/my-bitburner-scripts", target="_blank")
                            #bitburner_hover
                            .project-trans-box
                                #rain_box
                                p#bitburner_title.project-title Bitburner Scripts
                        a#bitburner_code.code-link(href="https://github.com/deelinnell/my-bitburner-scripts", target="_blank")
                            - for (let i = 0; i < 35; i++)
                                .cell
                            .code-trans-box
                                - for (let i = 0; i < 6; i++)
                                    p.code-text CODE
                                p.code-title.code-text CODE
                        .code-tab-background
                            .code-tab View Code
                    .project
                        #fullpage_tab.tab-background
                            .project-tab View Project
                        a#fullpage.project-link(href="https://deelinnell.github.io/fullpage-fantasy-website/", target="_blank")
                            - for (let i = 0; i < 11; i++)
                                .width-cell
                            #fullpage_trans_box.project-trans-box
                                #dragon_head
                                #dragon_gradient
                                #fire_box
                                    svg#fire_container(height="100px", width="580px")
                                        defs
                                            radialGradient#fire_gradient(fx="23%")
                                                stop(offset="10%", stop-color="rgb(255, 236, 207)")
                                                stop(offset="50%", stop-color="rgb(255, 230, 0)")
                                        path#fire_triangle
                                p#fullpage_title_bottom.project-title Fullpage.js Site
                                p#fullpage_title.project-title Fullpage.js Site
                        a#fullpage_code.code-link(href="https://github.com/deelinnell/fullpage-fantasy-website", target="_blank")
                            - for (let i = 0; i < 35; i++)
                                .cell
                            .code-trans-box
                                - for (let i = 0; i < 6; i++)
                                    p.code-text CODE
                                p.code-title.code-text CODE
                        .code-tab-background
                            .code-tab View Code
                    .project
                        #mobile_phone_tab.tab-background
                            .project-tab View Project
                        a#mobile_phone.project-link(href="https://responsive-business-website.vercel.app/", target="_blank")
                            #mobile_trans.project-trans-box
                                #mobile_background
                                p#mobile_phone_title_1.project-title Mobile Phone Site
                                p#mobile_phone_title_2.project-title Mobile Phone Site
                                p#mobile_phone_title_3.project-title Mobile Phone Site
                                p#mobile_phone_title_4.project-title Mobile Phone Site
                                p#mobile_phone_title.project-title Mobile Phone Site
                                #cracked_glass
                        a#mobile_phone_code.code-link(href="https://github.com/deelinnell/responsive-business-website", target="_blank")
                            - for (let i = 0; i < 35; i++)
                                .cell
                            .code-trans-box
                                - for (let i = 0; i < 6; i++)
                                    p.code-text CODE
                                p.code-title.code-text CODE
                        .code-tab-background
                            .code-tab View Code
                    .project
                        #solitaire_tab.tab-background
                            .project-tab View Project
                        a#solitaire.project-link(href="https://deelinnell.github.io/solitaire/", target="_blank")
                            #solitaire_suit_grid
                                - for (let i = 0; i < 10; i++)
                                    .solitaire-suit-cell
                            .solitaire-background
                            #card-5.small-card
                            #card-3.small-card
                            #card-1.small-card
                                p ♥
                            #card-6.small-card
                            #card-4.small-card
                            #card-2.small-card
                                p ♣
                            #solitaire_trans.project-trans-box
                                #solitaire_suits
                                p#solitaire_title.project-title Solitaire
                                .reflextion Solitaire
                        a#solitaire_code.code-link(href="https://github.com/deelinnell/solitaire", target="_blank")
                            - for (let i = 0; i < 35; i++)
                                .cell
                            .code-trans-box
                                - for (let i = 0; i < 6; i++)
                                    p.code-text CODE
                                p.code-title.code-text CODE
                        .code-tab-background
                            .code-tab View Code
                    .project
                        #card_maker_tab.tab-background
                            .project-tab View Project
                        a#card_maker.project-link(href="https://deelinnell.github.io/pokemon-card-maker/", target="_blank")
                            #card_maker_trans.project-trans-box
                                p#card_maker_title.project-title Card Maker
                                .card_maker_background
                                    - const rainDrops = 75
                                    #cloud_rain_box
                                        - for (let r = 0; r < rainDrops; r++)
                                            svg.rain(style=`--x: ${Math.floor(Math.random() * 95)}; --t: ${Math.floor(Math.random() * 25)}; --a: ${Math.random() + 0.5}; --s: ${Math.random()};`)
                                                defs
                                                    linearGradient#rain_gradient(gradientTransform="rotate(90)")
                                                        stop(offset="30%", stop-color="hsla(189, 27%, 44%, 0.1)")
                                                        stop(offset="90%", stop-color="hsla(189, 27%, 44%, 0.3)")
                                                path.rain-drop(d="M15 3 Q16.5 6.8 20 25 A2.8 2.8 0 1 1 10 26 Q13.5 6.8 15 3z")
                                    #cloud_1
                                    #cloud_2
                                    p#card_maker_title_2.project-title Card Maker
                        a#card_maker_code.code-link(href="https://github.com/deelinnell/pokemon-card-maker", target="_blank")
                            - for (let i = 0; i < 35; i++)
                                .cell
                            .code-trans-box
                                - for (let i = 0; i < 6; i++)
                                    p.code-text CODE
                                p.code-title.code-text CODE
                        .code-tab-background
                            .code-tab View Code
                    .project
                        #card_search_tab.tab-background
                            .project-tab View Project
                        a#card_search.project-link(href="https://deelinnell.github.io/pokemon-card-api-search/", target="_blank")
                            #card_search_trans.project-trans-box
                                #search_bar
                                    #search_bar_input
                                    #search_bar_button
                                        i.fa.fa-search
                                    p#card_search_title.project-title
                        a#card_search_code.code-link(href="https://github.com/deelinnell/pokemon-card-api-search", target="_blank")
                            - for (let i = 0; i < 35; i++)
                                .cell
                            .code-trans-box
                                - for (let i = 0; i < 6; i++)
                                    p.code-text CODE
                                p.code-title.code-text CODE
                        .code-tab-background
                            .code-tab View Code
                    .project
                        #talents_tab.tab-background
                            .project-tab View Project
                        a#talents.project-link(href="https://wow-talent-calculator-chi.vercel.app/", target="_blank")
                            .project-trans-box
                                #grid_1.talent-grid
                                    .talent
                                    .talent
                                    .talent
                                    .empty
                                    .talent
                                    .talent
                                    .talent
                                    .empty
                                    .talent
                                    .empty
                                    .talent
                                    .talent
                                    .talent
                                    .talent
                                    .talent
                                    .empty
                                    #line_1.line
                                p#talents_title.project-title Talent Calculator
                                p#talents_title_green.project-title Talent Calculator
                                p#talents_title_gold.project-title Talent Calculator
                                #grid_2.talent-grid
                                    .talent
                                    .talent
                                    .talent
                                    .talent
                                    .talent
                                    .empty
                                    .talent
                                    .talent
                                    .talent
                                    .empty
                                    .talent
                                    .empty
                                    .empty
                                    .talent
                                    .talent
                                    .empty
                                    #line_2.line
                        a#talents_code.code-link(href="https://github.com/deelinnell/wow-talent-calculator", target="_blank")
                            - for (let i = 0; i < 35; i++)
                                .cell
                            .code-trans-box
                                - for (let i = 0; i < 6; i++)
                                    p.code-text CODE
                                p.code-title.code-text CODE
                        .code-tab-background
                            .code-tab View Code
            .footer
                .footer-top
                    .footer-content
                        .footer-content_left
                            .footer-content_info
                                h3 <span>⇓</span> <p>CONTACT</p> <span>⇓</span>
                                h4
                                    i.fa.fa-envelope 
                                    p deelinnell@gmail.com
                                h4
                                    a(href="https://github.com/deelinnell", target="_blank")
                                        i.fa.fa-github 
                                    p https://github.com/deelinnell
                        .footer-content_right 
                            p <span>©</span> Portfolio 2023
                .footer-bottom
