:root {
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    margin-top: 20px;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1300px;
    margin: auto;
}

.header {
    max-width: 1300px;
}

.container-main {
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-profile {
    width: 400px;
    height: 600px;
}

.container-projects {
    width: 900px;
}

.project {
    position: relative;
    height: 150px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.code-tab-background,
.tab-background {
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black, -1px 0 1px black;
    color: #fff;
    font-style: italic;
    transition: 0.3s;
    overflow: hidden;
    bottom: 0;
    height: 150px;
    width: 0;
}

.tab-background {
    left: 0;
    border-radius: 15px 0 0 15px;
}

.tab-background.hover {
    width: 20px;
    left: -20px;
}

.project-tab {
    background: rgba(87, 87, 87, 0.5);
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    height: 100%;
    width: 100%;
}

.code-tab-background {
    background-image: url('img/matrix.jpg');
    right: 0;
    border-radius: 0 15px 15px 0;
}

.code-tab-background.hover {
    width: 20px;
    right: -20px;
}

.code-tab {
    background: rgba(87, 87, 87, 0.6);
    writing-mode: vertical-rl;
    height: 100%;
    width: 100%;
}

.project-link {
    position: absolute;
    height: 150px;
    width: 63%;
    background-position: center;
    background-size: contain;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
    transition: 0.3s;
    filter: grayscale(20%);
}

.project-link.hover {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    width: 60%;
    filter: grayscale(60%);
}

.project-link:hover {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    width: 60%;
    filter: grayscale(0%);
    cursor: pointer;
}

.project-link:hover .project-trans-box {
    margin-right: 25px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.project-link:hover ~ .code-link {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    width: 40%;
    filter: grayscale(60%);
}

.code-link {
    position: absolute;
    height: 150px;
    width: 44%;
    right: 0;
    background-position: center;
    background-size: contain;
    -webkit-clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: 0.3s;
}

.code-link:hover {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    width: 40%;
    cursor: pointer;
}

.code-link:hover .code-trans-box {
    margin-left: 25px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.project-trans-box,
.code-trans-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 25px;
    height: 100px;
    color: black;
    font-weight: bold;
    font-size: 24pt;
    transition: 0.3s;
}

.project-trans-box {
    background: rgb(255, 255, 255, 0.8);
    margin-right: 40px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 91.5% 100%, 0% 100%);
}

.project-trans-box.hover {
    margin-right: 25px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.code-trans-box {
    background: rgb(255, 255, 255, 0.7);
    margin-left: 40px;
    -webkit-clip-path: polygon(12.5% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.code-trans-box.hover {
    margin-left: 25px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.project-title {
    transition: 0.3s;
    -webkit-text-stroke: 1px #000;
}

.code-title {
    transition: 0.3s;
    -webkit-text-stroke: 1px #000;
    -webkit-text-fill-color: rgb(10, 134, 10);
}

.project-link:hover .project-title {
    background-size: cover;
    -webkit-text-stroke: 1px #000;
    font-size: 32pt;
}

.code-link:hover .code-title {
    background: url('img/matrix.jpg');
    background-size: cover;
    background-position: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1px rgb(3, 146, 3);
    font-size: 32pt;
}

/**** IMAGE LINKS ****/

/* Fullpage */
#fullpage {
    background-image: url('img/fullpage.png');
}

#fullpage_code {
    background-image: url('img/fullpage_code.png');
}

#fullpage_title {
    -webkit-text-fill-color: rgb(247, 60, 35);
}

#fullpage:hover #fullpage_title {
    background: url('img/lava.jpg');
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#fullpage_tab {
    background-image: url('img/lava.jpg');
}

/* Solitaire*/
#solitaire {
    background-image: url('img/solitaire.png');
}

#solitaire_code {
    background-image: url('img/solitaire_code.png');
}

#solitaire_title {
    -webkit-text-fill-color: rgb(252, 39, 39);
}

#solitaire:hover #solitaire_title {
    background: url('img/cardback.png');
    background-repeat: repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#solitaire_tab {
    background-image: url('img/cardback.png');
}

/* Card Maker */
#card_maker {
    background-image: url('img/card_maker.png');
}

#card_maker_code {
    background-image: url('img/card_maker_code.png');
}

#card_maker_title {
    -webkit-text-fill-color: rgb(69, 166, 211);
}

#card_maker:hover #card_maker_title {
    background: url('img/clouds.png');
    background-repeat: repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#card_maker_tab {
    background-image: url('img/clouds.png');
    text-shadow: 0 1px 1px #555, 1px 0 1px #555, 0 -1px 1px #555, -1px 0 1px #555;
}

/* Mobile Phone */
#mobile_phone {
    background-image: url('img/mobile_phone.png');
}

#mobile_phone_code {
    background-image: url('img/mobile_phone_code.png');
}

#mobile_phone_title {
    -webkit-text-fill-color: rgb(86, 65, 141);
}

#mobile_phone:hover #mobile_phone_title {
    background: url('img/purple.png');
    background-repeat: repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#mobile_phone_tab {
    background-image: url('img/purple.png');
}

/* Card Search */
#card_search {
    background-image: url('img/card_search.png');
}

#card_search_code {
    background-image: url('img/card_search_code.png');
}

#card_search_title {
    -webkit-text-fill-color: rgb(163, 22, 22);
}

#card_search:hover #card_search_title {
    background: url('img/bird.png');
    background-repeat: repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#card_search_tab {
    background-image: url('img/bird.png');
    background-position: center;
}

/* Card Search */
#talents {
    background-image: url('img/talents.png');
}

#talents_code {
    background-image: url('img/talents_code.png');
}

#talents_title {
    -webkit-text-fill-color: rgb(95, 95, 95);
}

#talents:hover #talents_title {
    background: url('img/moutains.png');
    background-repeat: repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#talents_tab {
    background-image: url('img/moutains.png');
    background-position: center;
}

/* Bitburner */
#bitburner {
    background-image: url('img/bitburner.jpg');
}

#bitburner_code {
    background-image: url('img/bitburner_code.png');
}

#bitburner_title {
    -webkit-text-fill-color: rgb(24, 175, 31);
}

#bitburner:hover #bitburner_title {
    background: url('img/logo.jpg');
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#bitburner_tab {
    background-image: url('img/logo.jpg');
}